<div class="row center-xs">
<div class="col-xs-20 col-md-15">
<div  class="box text-left">

<h1>Listado de Concursos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Banner</th>
      <th>Url</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Premio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

 <%= will_paginate @concursos %>

    <% @concursos.each do |concurso| %>
      <tr>
        <td><%= concurso.namec %></td>
        <td><%= concurso.banner %></td>
        <td><%= concurso.url %></td>
        <td><%= concurso.fecha_inicio %></td>
        <td><%= concurso.fecha_fin %></td>
        <td><%= concurso.premio %></td>
        
        <td><%= link_to 'Mostrar', concurso %></td>
        <td><%= link_to 'Editar', edit_concurso_path(concurso) %></td>
        <td><%= link_to 'Eliminar', concurso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Concurso', new_concurso_path %>



     </div> 
    </div> 
    </div>