<div class="row center-xs">
<div class="col-xs-14 col-md-14">
<div  class="box text-left">
 <%= jwplayer_assets %>
 <%  unless @concurso.user.nil? %>
    <p>
        Creado por: <%= @concurso.user.email %>
      
    </p>

    
    <%end%>
    <p>
    <h1>
  <strong>    CONCURSO DE VIDEO: </strong> <%= @concurso.namec %>
  </h1>
</p>
<div class="row center-xs">
   <%= image_tag  @concurso.banner %> 
   </div>
 
<p>

  <strong>Fecha inicio:</strong>
  <%= @concurso.fecha_inicio %>

 <strong>Fecha fin:</strong>
  <%= @concurso.fecha_fin %>

  <strong>Premio:</strong>
  <%= @concurso.premio %>
</p>

<p> ########################################################### </p>

<div>
<h3> Sube tu Video </h3>
<%= render "archivos/form" %>

</div>
 
<ul>

<li> 
<h4> ACA PUEDES VER LOS VIDEOS QUE LOS USUARIOS HAN COMPARTIDO </h4>

  
<%# si se usa => @concursos.archivos.each do |archivo| este reverse. genera 3 veces la misma paginaci칩n %>

<% @archivos.each do |archivo| %>


<% if archivo.estado=="0" %>
<p>
<font color="red">
<strong>Subido por: </strong> <%=archivo.nombres %> - <strong>Mensaje: </strong> -  <%=archivo.mensaje %> <br>
<strong>Correo: </strong>  <%=archivo.email %> <strong> Fecha de creaci칩n: </strong> <%=archivo.created_at %><br>

<h3><strong> Hemos recibido tu video y los estamos procesado para que sea publicado.<br>
 Tan pronto el video quede publicado en la p치gina del concurso te notificaremos por email.</strong></h3>
</font>
</p>


<% else %>

 <p>
<font color="green">
<strong>Subido por: </strong> <%=archivo.nombres %> - <strong>Mensaje: </strong> -  <%=archivo.mensaje %> <br>
<strong>Correo: </strong>  <%=archivo.email %> <strong> Fecha de creaci칩n: </strong> <%=archivo.created_at %></font>

<div id= 'Video<%=archivo.id %>' >Cargango el reproductor...</div>
<script type='text/javascript'>

jwplayer("Video<%=archivo.id %>").setup({ 
"file": "<%=archivo.ruta_conv %>"});

</script>

</p>

<%end%>


<% end %>






</li> 
<%= will_paginate @archivos %>

<p>

<%= link_to 'Modificar el Concurso', edit_concurso_path(@concurso) %> |
<%= link_to 'Ver Concursos', concursos_path %>
</p>


     </div> 
    </div> 
    </div>